@use "../style/utils" as u;
.search_and_filter_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 50px auto;
  max-width: calc(100% - 150px);
  @media screen and (max-width: 700px){
    flex-wrap: wrap;
    max-width: 100%;
    margin: 30px 20px;
  }
  .country_search_wrapper {
    position: relative;
    width: 100%;
    img {
      position: absolute;
      top: 15px;
      left: 25px;
      width: 15px;
    }
    #country_search {
      background-color: u.$Dark-Blue;
      border: none;
      border-radius: 5px;
      width: 450px;
      padding: 20px 30px 20px 60px;
      &::placeholder {
        color: u.$White;
      }
    }
    @media screen and (max-width: 700px) {
      #country_search {
        width: 100%;
      }
    }
  }

  .custom-select {
    width: 200px;
    position: relative;
    img {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 20px;
      right: 15px;
    }
    #selection_input {
      background-color: u.$Dark-Blue;
      padding: 20px 25px;
      border-radius: 6px;
      width: 100%;
      margin-bottom: 4px;
      cursor: pointer;
    }
    ul {
      border-radius: 6px;
      height: 200px;
      position: absolute;
      overflow: auto;
      width: 100%;
      scrollbar-width: none;
      background-color: u.$Dark-Blue;
      display: none;
      li {
        list-style-type: none;
        margin: 10px 0;
        padding: 5px 20px;
        cursor: pointer;

        &:first-child {
          margin-top: 15px;
        }
        &:hover {
          color: u.$Dark-Gray;
        }
      }
    }
  }
}
