<div class="search_and_filter_wrapper">
  <div class="country_search_wrapper">
    <img src="../../assets/magnifying-glass.svg" alt="magnifying glass" />
    <input
      type="text"
      name="country_search"
      id="country_search"
      placeholder="Search for a country..."
    />
  </div>
  <div class="custom-select" (click)="toggleRegionSelector()">
    <img src="../../assets/chevron-down-outline.svg" alt="" />
    <div id="selection_input">{{regionPlaceholder}}</div>
    <ul [ngStyle]="{'display': this.regionSelectorOpen ? 'block' : 'none'}">
      <li value="1" *ngFor="let region of regions" (click)="selectRegion(region)">
        {{region}}
      </li>
    </ul>
  </div>
</div>
