@use "../style/utils" as u;
.search_and_filter_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: calc(100% - 150px);
  .country_search_wrapper {
    position: relative;
    img {
      position: absolute;
      top: 15px;
      left: 25px;
      width: 15px;
    }
    #country_search {
      background-color: u.$Dark-Blue;
      border: none;
      border-radius: 5px;
      width: 400px;
      min-width: 200px;
      padding: 15px 30px 15px 60px;
      &::placeholder {
        color: u.$White;
      }
    }
  }

  #region_filter {
    background-color: u.$Dark-Blue;
    padding: 15px;
    border: none;
    border-radius: 4px;
  }
}
