<div class="search_and_filter_wrapper">
  <div class="country_search_wrapper">
    <img src="../../assets/magnifying-glass.svg" alt="magnifying glass" />
    <input
      type="text"
      name="country_search"
      id="country_search"
      placeholder="Search for a country..."
    />
  </div>
  <div class="custom-select">
    <img src="../../assets/chevron-down-outline.svg" alt="">
    <div id="selection_input">Filter by Region</div>
    <ul>
      <li value="1">lorem ipsum</li>
      <li value="2">lorem ipsum</li>
      <li value="3">lorem ipsum</li>
      <li value="4">lorem ipsum</li>
      <li value="5">lorem ipsum</li>
      <li value="6">lorem ipsum</li>
      <li value="7">lorem ipsum</li>
      <li value="8">lorem ipsum</li>
      <li value="9">lorem ipsum</li>
      <li value="10">lorem ipsum</li>
    </ul>
  </div>
</div>
