@use "../style/utils" as u;

.country_card {
  background-color: u.$Dark-Blue;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  .card_text {
    padding: 20px 25px 35px;
    p {
      margin-bottom: 10px;
      &.country_name {
        margin-bottom: 15px;
        font-size: 1.3em;
        font-weight: u.$FW-Extra-Bold;
      }

      span:first-child {
        font-weight: u.$FW-Semi-Bold;
      }
      span:last-child {
        font-weight: u.$FW-Light;
      }
    }
  }
}
