<div class="country_cards_wrapper">
  <div class="country_card">
    <img src="https://flagcdn.com/w320/de.png" alt="" class="country_img" />
    <div class="card_text">
      <p class="country_name">Germany</p>
      <p class="country_population">
        <span>Population: </span>
        <span class="country_population_value">81,770,900</span>
      </p>
      <p class="country_region">
        <span>Religion: </span>
        <span class="country_religion_value"></span>
      </p>
      <p class="country_capital">
        <span>Capital: </span>
        <span class="country_capitaln_value"></span>
      </p>
    </div>
  </div>
</div>
