<div class="country_card">
  <img src="{{data.flags.png}}" alt="{{data.name}} flag" class="country_img" />
  <div class="card_text">
    <p class="country_name">{{data.name}}</p>
    <p class="country_population">
      <span>Population: </span>
      <span class="country_population_value">{{data.population}}</span>
    </p>
    <p class="country_region">
      <span>Region: </span>
      <span class="country_region_value">{{data.region}}</span>
    </p>
    <p class="country_capital">
      <span>Capital: </span>
      <span class="country_capital_value">{{data.capital}}</span>
    </p>
  </div>
</div>
