.cards {
  max-width: calc(100% - 150px);
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  row-gap: 70px;
  width: 100%;
  @media screen and (max-width: 700px) {
    row-gap: 40px;
    max-width: 100%;
    justify-content: center;
  }
}
